Title: Contact Us
Filename: contact.html
---
<h1>Contact Us</h1>

<p>Feel free to get in touch with us if you have any questions. You can reach us at any time by <a id="mail-all" href="#">emailing us</a>.</p>

@section Scripts {
<script>
  $('#mail-all').click(function(e) {
    var target = 'mailto:';
    target += 'slc.netug';
    target += '@@';
    target += 'gmail.com';
    e.target.href = target;
  })
</script>
}
