Title: Events
---
<div data-event-date="2022-09-08" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">.NET Performance Analysis with Free & OSS Tools - Kaleb Pederson</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, September 8th, 2022</h5>

    <img src="assets/images/KalebPederson.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of Kaleb Pederson">

    <p>
        The .NET platform and supporting ecosystem comes with many great tools for performance analysis. Although these
        tools are supported by different platform-specific implementations, they provide excellent cross-platform
        support for diagnosing and troubleshooting a variety of problems. In this presentation, we'll talk about
        metrics, EventCounters, dotnet-trace, PerfView, ETW, LTTNG, and more as we work to diagnose some performance
        issues in an application. We'll start by gathering data and walking through the analysis process using various
        tools to allow us to fully understand the cause of the performance concerns.
    </p>

    <em>About the Speaker</em>

    <p>
        Kaleb Pederson is a professional programmer and software crafter with almost 20 years of professional
        development experience. He was first introduced to programming when he received a Radio Shack TRS-80 as a
        birthday present. Although his first attempts to learn programming were with BASIC and Pascal, his first real
        introduction to software development started in 1995 with a relational database programming project using an
        Alpha 5 database, which included a BASIC variant called X-Basic.
    </p>

    <p>
        After a brief stint studying engineering and mathematics, he diverted to Computer Science. Kaleb has a Master of
        Science degree in Computer Science from Eastern Washington University. Kaleb currently works at HealthEquity as
        a Solution Architect where he spends most of the time working in the Azure Cloud, focusing on improving platform
        stability and developing solutions that work well with HealthEquity's overall platform architecture. Kaleb
        thoroughly enjoys all aspects of software development, from high level software design to functional programming
        and low-level performance tuning.
    </p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
