Title: Events
---
<div data-event-date="2022-04-14" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Improve Your Code Base with Immutable Objects - Thomas Camargo</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, April 14th, 2022</h5>

    <img src="assets/images/ThomasCamargo.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of Thomas Camargo">

    <p>
      Thomas and his team at Pluralsight went on a refactoring journey. His team aggregates a bunch of
      data together from other micro-services and wanted to create meaningful events when the data their
      service cared about changed. They were able to achieve that using immutable objects. Thomas will
      share how you can improve your code base with immutable objects.
    </p>

    <em>About the Speaker</em>

    <p>
      Thomas is a software engineer at Pluralsight and this will be his third time presenting at the
      SLC .NET user group. The first programming language he learned was C# while he attended Utah Valley
      University, and his career has been developing C# ever since he started his internship back in 2012.
      He has worked in all sorts of .NET code bases at various companies. 
    </p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
