Title: Events
---
<div data-event-date="2021-09-09" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Azure Application Insights on ASP.NET Core/.NET-5 - Kaleb Pederson</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, September 9th, 2021</h5>

   <img src="assets/images/KalebPederson.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of Kaleb Pederson">

    <p>
      Microsoft's Application Insights provides insight into application behavior and performance and enables
      diagnostics through its pre-built user interface and custom queries written on top of the Log Analytics
      backend. In this session, we'll configure an ASP.NET Core/.NET-5 application to use Application Insights,
      run some load and performance tests against the application, and use Application Insights to understand
      our application's performance characteristics.
    </p>
    
    <em>About the Speaker</em>

    <p>
      Kaleb Pederson is a professional programmer and software crafter with almost 20 years of professional development
      experience. He was first introduced to programming when he received a Radio Shack TRS-80 as a birthday present.
      Although his first attempts to learn programming were with BASIC and Pascal, his first real introduction to
      software development started in 1995 with a relational database programming project using an Alpha 5 database,
      which included a BASIC variant called X-Basic.
    </p>

   <p>
      After a brief stint studying engineering and mathematics, he diverted to Computer Science. Kaleb has a Master of
      Science degree in Computer Science from Eastern Washington University. Kaleb currently works at HealthEquity as a
      Solution Architect where he spends most of the time working in the Azure Cloud, focusing on improving platform 
      stability and developing solutions that work well with HealthEquity's overall platform architecture. Kaleb 
      thoroughly enjoys all aspects of software development, from high level software design to functional programming 
      and low-level performance tuning.
    </p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
