Title: Events
---
<div data-event-date="2019-10-10" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Consuming GraphQL APIs - Daniel Soffiantini</h1>
    <h5 class="card-subtitle text-muted mb-2">October 10, 2019</h5>

    <p>
    Learn about consuming GraphQL APIs using a React front-end and Apollo Client.
    We'll cover setup, components, hooks, testing, and some advanced features to 
    optimize your application.
    </p>

    <h2>About the Presenter</h2>

    <p>
    I was born and raised in New York City and graduated in 2014 from the University
    of Utah. I have been a web developer for 3 years and have experience with .NET,
    JavaScript, and React. I'm passionate about React in particular, and have lead 
    several trainings to dozens of people on it. I live with my beautiful wife and 
    2 dogs in Riverton, Utah.
    </p>

    <h2>Venue</h2>

    <p>This event is being hosted by <a href="venues.html#dealertrack">DealerTrack</a>.

  </div>
</div>

<div data-event-date="2019-11-14" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Composable Code - Joel Richman</h1>
    <h5 class="card-subtitle text-muted mb-2">November 11, 2019</h5>

    <p>
    How robust is your code? Can it be easily reorganized? Does it directly
    communicate success? Failures? Are exceptions handled gracefully? Is
    inserting a new step challenging? Are your unit tests fragile due to code
    complexity? Come and learn techniques that you can implement right away to
    create single responsibility code that is composable, testable, and makes a
    robust pipeline for executing operations.
    </p>

    <h2>About the Presenter</h2>

    <p>
    Joel Richman started writing code as a teenager on the Commodore 64. This
    early exposure inspired him to go into software engineering. He has been
    building applications professionally for 25 years mostly in the Microsoft
    stack. His entry into development was writing business rules in C for a tax
    preparation application for accountants. This progressed into working for a
    number of different companies mostly in K12 education, financial and medical
    industries. The last 10 years have had an emphasis on web UI and APIs using
    C# and modern JS frameworks. Today, he consults full time helping companies
    architect and build enterprise applications.
    </p>

    <h2>Venue</h2>

    <p>This event is being hosted by <a
    href="venues.html#healthequity">HealthEquity</a>.

  </div>
</div>



@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
