Title: Events
---
<div data-event-date="2020-08-13" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Azure AD, Managed Identities, and PostgreSQL - Matthew Gray</h1>
    <h5 class="card-subtitle text-muted mb-2">August 13th, 2020</h5>

    <img alt="Picture of Thomas Camargo" src="assets/images/matthew-gray-azuread.jpeg" class="img-fluid pb-3">

    <p>
      A high level overview of how Azure Active Directory provides access to Azure hosted PostgreSQL 
      instances via user managed identities. 
    </p>
    
    <em>About the Speaker</em>
    
    <p>
      "I'm your typical code monkey -- I've had a computer in my possession in one form or another 
      since I was four years old. I have fond memories of writing BASIC on my Commodore 64 long 
      before I reached the ripe old age of 10, and I've been tinkering with computers in general
      for the better part of my 40+ year tenure on this rock..." 
    </p>
    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
