Title: Events
---
<div data-event-date="2021-06-10" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Best Practices for Sustainable Repos and Pipelines - Andrew Arnott</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, June 10th, 2021</h5>

    <p>Starting a new repo or pipeline can be easy, but designing it for reliable and repeatable builds in the face 
    of network dependencies and SDK version updates across machines and time can be a worthy and challenging endeavor. 
    Come learn how to get started right so your repo and pipeline is stable, approachable and grows with you. We'll 
    focus on git, Azure Pipelines, and GitHub Actions. Touching lightly on AppVeyor/travis.ci. Pipeline focus is more 
    on CI than on CD.</p>
    
    <em>About the Speaker</em>

    
    <p>Principal Software Engineer at Microsoft, mostly working on or around the Visual Studio product. Expertise 
    includes threading, async, RPC, interop, cryptography, repo and pipeline maintenance for several teams. Other 
    interests include cryptocurrency, camping, and hanging out with my wife and four kids.</p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

<div data-event-date="2021-08-12" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">How consulting can improve your skills as a developer and make you an expert in your field - Kate Sky</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, August 12th, 2021</h5>

    <p>Have you ever wondered what it would be like to be a consultant? Come learn how doing consulting work can benefit you and your career.</p>

    <em>About the Speaker</em>


    <p>Kate is a full-stack developer with over 20 years of experience. She specializes in front-end development using the Angular platform.
She is a founder of CSA Technologies Inc, which allows her to empower companies with her consulting work.
She is also a mother of 5 remarkable children.</p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
