Title: Events
---
<div data-event-date="2020-09-10" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">C# 7.0 and 8.0 Features - Jonathan Turner</h1>
    <h5 class="card-subtitle text-muted mb-2">September 10th, 2020</h5>

    <p>Microsoft has moved from a closed source, multi-year monolithic update process for the C# language to an open
      source model where they can (and have) provide multiple language updates per year. This is great for getting new
      language features to end users faster, but it can make it harder to keep up with all the changes.</p>

    <p>C# has been evolving much more rapidly the last few years than it has in the past. New versions and patch
      releases have been announced so quickly that it can be difficult to keep track of all the new features. If this
      story sounds familiar to you, this might be the presentation for you.</p>

    <p>In this presentation we’ll cover the big ticket items from C# 8. We’ll cover the big ticket items like nullable
      reference types, readonly members, and pattern matching enhancements as well as several smaller features. Since
      many of the features in C# 8 build on features introduced in C# 7, we’ll also cover some of those features briefly
      for those less familiar with them. </p>
    
    <em>About the Speaker</em>

    <p>Jon looks forward to a world where everyone involved in software development cares about the quality of their
      software and the value it provides. He is an advocate of test driven development, pair and mob programming,
      continuously integrating code changes, and continuously delivering value to customers.</p>

    <p>As a software developer with nearly 20 years of experience, he has worked in a variety of fields including
      government management software, children’s English language learning software, and online video-based software
      development training. He has also been a university instructor and frequently presents at user groups and
      conferences on topics such as test driven development, pair and mob programming, continuous delivery, Docker,
      software design patterns, C# language features, and even on origami a few times. He is a co-organizer of the Utah
      Software Craftsmanship group.</p>

    <p>When he’s not developing software professionally, Jon spends time doing game and mobile development, working on a
      variety of robotics projects (while trying not to bring about the robot apocalypse), folding origami for friends
      and strangers, or spending time with his wife and three children.</p>
    
    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
