Title: Events
---
<div data-event-date="2021-01-14" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Taming scary production code that nobody wants to touch - Mike Clement</h1>
    <h5 class="card-subtitle text-muted mb-2">January 14th, 2021</h5>

    <img src="assets/images/MichaelClement2016.png" alt="Mike Clement Headshot">

    <p>Most dev teams “own” some code that they don’t really want to work with.  However it got there, the code is scary
    but pretty stable but now requires updates.  Perhaps your team draws straws to each time to figure out who is going to
    have to put on the metaphorical hazmat suit and deal with the problem.  Or worse yet, your team relies on one developer
    to always do it and he or she is getting burned out and could leave at any minute.</p>
    
    <p>Mike will share some techniques that will help you modify the code with confidence using a few core refactorings
    and characterization tests.</p>
    
    <em>About the Speaker</em>

    <p>Mike Clement is a husband, father of four, and currently VP of Engineering at Emmersion. Mike believes we work
    best when we are working together and that there are no best practices—only better and worse ones depending on the
    context. Some leading practices Mike is passionate about are Test Driven Development, Pair and Mob Programming, User
    Story Mapping, Domain Driven Design and Open Space Technology. Passionate about raising the bar of technical excellence
    in the software development community, Mike is a founder and organizer of Software Crafters Atlanta, the Software
    Crafters Unconference, and the Lean+Agile Atlanta Unconference. Find out more about Mike on his blog
    (http://blog.softwareontheside.com/) and on Twitter at @@mdclement.</p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
