Title: Events
---
<div data-event-date="2023-01-12" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">What's New in C#/.NET 7 - MVPs Kevin Bost &amp; Mark Michaelis</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, January 12th, 2023</h5>

    <p>
        There are a host of improvements to C# - some changing the way you code henceforth, some only incrementally.
        They include a welcome enhancement to non-nullable reference type properties with a new “required” contextual
        keyword. There are also important improvements in programming with attributes, generics, regular expressions,
        strings, and even a new accessibility modifier. For strings, even things like multiline literals are noticeably
        better with the addition of raw string literals and support for newlines within the interpolation expressions.
        My favorite feature is an enhancement to pattern matching with support for lists. Before that were changes that
        are even more significant: file-based namespaces, record value types, implicit usings, string interpolation
        handlers, and a new CallerArgumentExpression attribute. Don’t miss this session to learn about all the recent
        improvements you might have missed.
    </p>

    <em>About the Speakers</em>


	<div class="row">
        <img src="assets/images/Kevin-Bost.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of Kevin Bost">

        <p>
            <a href="https://intellitect.com/Kevin">Kevin Bost</a> is a successful senior software architect capable of
            designing elegant solutions to complex problems utilizing agile methodologies. This distinguished Microsoft MVP
            has been instrumental in the creation of several containerized cloud products. Passionate about teaching others
            to write quality code and honing skills through unit testing and code reviews, Kevin regularly hosts live coding
            sessions on Twitch and maintains MaterialDesignInXAML, a fully open-source toolkit to assist the user in
            crafting desktop applications that allow Windows applications to leverage Google’s Material Design. When not
            teaching, Kevin is often designing and creating new gadgets with his 3D printer.
        </p>
    </div>
    
    <div class="row">
        <img src="assets/images/Mark-Michaelis.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of Mark Michaelis">

        <p>
            <a href="https://intellitect.com/Mark">Mark Michaelis</a> is the founder and CEO of IntelliTect, an innovative
            software architecture and development consulting firm based in Spokane, Washington. A world-class C# expert,
            Mark has been a Microsoft Regional Director since 2007 and a Microsoft MVP for twenty-five years. He is also an
            adjunct professor at Eastern Washington University, a regular speaker at developer conferences around the world,
            and has written numerous articles and books, including several editions of the Essential C# Series which is
            moving online (<a href="https://essentialcsharp.com/">EssentialCSharp.com</a>). A firm believer in autonomy,
            mastery, and purpose, Mark’s unmatched management and leadership style enables him to successfully handle a day
            with only 24 hours in it.
        </p>
    </div>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
