Title: Events
---
<div data-event-date="2022-06-09" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Let's Talk GitHub Actions - Mickey Gousset</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, June 9th, 2022</h5>

    <img src="assets/images/mickey-gousset-sm.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of Mickey Gousset">

    <p>
      GitHub Actions is GitHub's workflow automation engine, allowing you to automate almost anything related to GitHub. 
      You take tasks, called "actions", and combine them to create custom workflows to do things such as build/deploy code. 
      Using GitHub Actions you can automate off of any event GitHub can throw. In this session you will learn both some 
      basic and advanced Actions concepts, and walk away with workflows and ideas you can use in your environment.
    </p>

    <em>About the Speaker</em>

    <p>
      Mickey currently works as a DevOps Architect on the GitHub FastTrack team. 
      His day job consists of helping customers get more “devopsy”, speaking at events, and spreading DevOps goodness.
    </p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
