Title: Events
---
<div data-event-date="2020-01-09" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">A journey into NoSQL Databases with Azure Cosmos DB - Kaleb Pederson</h1>
    <h5 class="card-subtitle text-muted mb-2">January 9th, 2020</h5>

    <p>
      &ldquo;NoSQL&rdquo; technologies have been around for a long time but many of us still aren’t well versed in these
      technologies: document databases, graph databases, column databases, and key-value stores (wait, is that even a
      database?). In this talk we’ll take a look at the different types of NoSQL databases, what they’re used for, and
      the fundamental knowledge required to decide among them. We’ll then take a more focused look at the Azure Cosmos
      DB implementation of NoSQL databases with a heavier focus on its document database capabilities.
    </p>

    <h2>About the Presenter</h2>

    <p>
      Kaleb Pederson is a professional programmer and software crafter with almost 20 years of professional development
      experience. He was first introduced to programming when he received a Radio Shack TRS-80 as a birthday present.
      Although his first attempts to learn programming were with BASIC and Pascal, his first real introduction to
      software development started in 1995 with a relational database programming project using an Alpha 5 database,
      which included a BASIC variant called X-Basic.
    </p>
    
    <p>
      After a brief stint studying engineering and mathematics, he diverted to Computer Science. Kaleb has a Master of
      Science degree in Computer Science from Eastern Washington University. Kaleb currently works at HealthEquity as a
      Software Architect where he focuses on tools and frameworks and continues to refine his skills as a software
      architect and crafter. He thoroughly enjoys all aspects of software development, from software design to
      functional programming or low-level performance tuning.
    </p>

    <h2>Venue</h2>

    <p>This event is being hosted by <a
    href="venues.html#healthequity">HealthEquity</a>.

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
