Title: Events
---
<div data-event-date="2019-09-19" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">SLC.NET Con</h1>
    <h5 class="card-subtitle text-muted mb-2">September 19, 2019</h5>

    <p>We're hosting our first ever conference: SLC.NET Con!</p>

    <p>Please join SLC.NET on September 19th, 2019 from 5PM to 9PM for an
    evening of .NET fun in this multi-track conference.</p>

    <h2>Keynote: Surviving Microservices</h2>
    <h4 class="text-muted">By Michele Leroux Bustamante</h3>
    <span><img src="assets/images/MicheleLB.jpg" class="img-fluid"></span>
    
    <h3>About the Presenter</h3>
    <p>Michele Leroux Bustamante is co-founder / CIO at Solliance
    (solliance.net), co-founder of PolicyServer (policyserver.io), a
    Cloud/Security architect, a Docker Captain, Microsoft Regional Director
    and Microsoft Azure MVP. Michele is a thought leader recognized in many
    fields including software architecture and design, identity and access
    management, cloud computing technologies, security and compliance, and
    Microservices/DevOps. During the past 20 years, Michele has held senior
    executive positions at several corporations, assembled teams, implemented
    development process, and facilitated numerous successful large-scale
    enterprise application deployments. Michele leads the Security and
    Microservices practices at Solliance and shares practical experiences via
    international keynotes, presentations and workshops. Michele has been
    publishing regularly during her entire career, and wrote the best-selling
    book ''Learning WCF'' (O'Reilly 2007) and Developing Microsoft Azure
    Solutions (MS Press, 2017).</p>

    <h3>Keynote Description</h3>
    <p>Ah, the promises of Microservices. Small manageable services.
    Independent lifecycles. More features, faster, and with fewer regressions.
    Unlimited scale. Asynchronous messaging and eventual consistency bliss.
    Operational visibility, dashboards, and audit logs. Containers everywhere.
    It sounds fantastic right? And, it can be, for some. Will you be one of
    them? This session will contemplate how to survive this seductive approach
    toward solution architecture - with challenges in mind - and some
    reasoning as to why it's worth the effort.</p>

    <h3>Conference Tracks</h3>
    <ul>
      <li>.NET Core / Standard</li>
      <li>Azure / Cloud</li>
      <li>CI / CD / DevOps</li>
    </ul>

    <h3>Benefits of Attending</h3>
    <ul>
      <li>Learn from local .NET practitioners.</li>
      <li>Identify best practices from those working on in-production projects.</li>
      <li>Uncover emerging trends and tools in the .NET world.</li>
      <li>Acquire implementable ideas for your projects.</li>
    </ul>
  </div>
</div>

<div data-event-date="2019-08-08" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Quantum Computing and Q# - Chuck Bates</h1>
    <h5 class="card-subtitle text-muted mb-2">August 8, 2019</h5>

    <p>Quantum computers are quickly becoming one of the most talked about new
    technologies, even though they don't exist yet! They promise some amazing
    breakthroughs but at a steep technological cost. Are you curious how you can
    get started with a technology before it even begins? With the Microsoft
    Quantum Development Kit you can!</p>

    <p>In this session we'll take a brief look at the possibilities quantum computing
    provides then dive into the tools and language (Q#) that Microsoft provides to
    start programming future quantum algorithms today!</p>

    <p>The goal of this session is not to become an expert in quantum computing but
    to become exposed to the available tools and concepts to go off on your own
    and start tinkering.</p>

    <h2>About the Presenter</h2>

    <p>Since a young age, Chuck has had a love of both technology and the sciences.
    This love of two fields became a problem when upon graduating with a B.S. in
    Physics and after several years of professional programming experience, Chuck
    had to choose which field to follow. While ultimately choosing software, Chuck
    spends significant time staying up to date in the world of physics with the
    hope to one day find a way to again combine the two.</p>

    <p>Chuck currently works as
    a Software Engineer at Pluralsight. When he is not coding up his latest
    project or reading through endless published physics papers, Chuck enjoys
    tinkering with his amateur telescope, building small woodworking projects,
    hacking something on a Raspberry Pi, and spending time with his children.</p>
  </div>
</div>

<div data-event-date="2019-07-11" class="card mt-3 mb-3 ">
  <div class="card-body">
    <h1 class="card-title mb-1">Absolute Beginners Guide to Docker - Jonathan Turner</h1>
    <h5 class="card-subtitle text-muted mb-2">July 11, 2019</h5>

    <h2>About the speaker</h2>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    var now = new Date();   
    now.setHours(0,0,0,0);
    if (event_date < now) {
      $(this).hide();
    }
  });
</script>
}
