Title: Events
---
<div data-event-date="2019-09-19" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">SLC.NET Con</h1>
    <h5 class="card-subtitle text-muted mb-2">September 19, 2019</h5>

    <p>We're hosting our first ever conference: SLC.NET Con!</p>

    <p>Please join SLC.NET on September 19th, 2019 from 5PM to 9PM for an evening of .NET fun in this multi-track conference.</p>

    <p><em>Keynote Speaker</em>: Michele Leroux Boustamante</p>

    <p>Tracks will include:</p>
    <ul>
      <li>.NET Core / Standard</li>
      <li>Azure / Cloud</li>
      <li>CI / CD / DevOps</li>
    </ul>

    <p>Benefits of Attending:</p>
    <ul>
      <li>Learn from local .NET practitioners.</li>
      <li>Identify best practices from those working on in-production projects.</li>
      <li>Uncover emerging trends and tools in the .NET world.</li>
      <li>Acquire implementable ideas for your projects.</li>
    </ul>
  </div>
</div>

<div data-event-date="2019-08-08" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Quantum Computing and Q# - Chuck Bates</h1>
    <h5 class="card-subtitle text-muted mb-2">August 8, 2019</h5>

    <p>More details to come...</p>
  </div>
</div>

<div data-event-date="2019-07-11" class="card mt-3 mb-3 ">
  <div class="card-body">
    <h1 class="card-title mb-1">Absolute Beginners Guide to Docker - Jonathan Turner</h1>
    <h5 class="card-subtitle text-muted mb-2">July 11, 2019</h5>

    <p>Are you tired of hearing people gush about how great Docker, Kubernetes and
    containers are and not knowing exactly what they're talking about? Have you
    heard about how amazing Docker is, but don't know where to get started? This
    session may be for you.</p>

    <p>In this session we'll take an absolute beginner's guide approach to Docker.
    We'll go over a little about what Docker is, the difference between images and
    containers, a few quick ways to use Docker in a dev environment, and briefly
    talk about creating your own images.</p>

    <p>The goal of this session isn't to be a comprehensive explanation of Docker.
    The goal is to give attendees tools to help them push past through the
    "getting started" hump.</p>

    <h2>About the speaker</h2>
    <p>Jon graduated from BYU with a bachelor's and a master's degree in computer
    science. His thesis was on "cool robot stuff" (more specifically, user
    interface design combined with interactive machine learning applied to robot
    control). He has working as a developer doing data conversion, government
    management software, educational software focused on teaching children
    English. He also taught computer science at Neumont University. He currently
    works as a software craftsman at Pluralsight, which specializes in online
    technical training. Jon develops mostly using C# (he started back with .NET
    1.0), but has used and continues to use a smattering of other programming
    languages. When not developing professionally, he enjoys working on mobile,
    game, hardware and other random side projects.</p>
  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    var now = new Date();   
    now.setHours(0,0,0,0);
    if (event_date < now) {
      $(this).hide();
    }
  });
</script>
}
