Title: Events
---
<div data-event-date="2022-05-12" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Build an Image Resizing App Using Serverless on Azure - Lars Klint</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, May 12th, 2022</h5>

    <img src="assets/images/Lars-Klint-Sm.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of Lars Klint">

    <p>
      Spend an hour of hands-on Azure demos to build a full serverless image resizing app from start to finish. 
      All live and unedited. What could possibly go wrong…
    </p>

    <em>About the Speaker</em>

    <p>
      Lars is a Senior Developer Evangelist with Pluralsight, author, trainer, Microsoft Azure MVP, community leader,
      aspiring YouTube host and part time classic car collector. He is heavily involved in the space of cloud computing services,
      especially Azure, and is a published author, solution architect and writer for numerous publications.
      He has been a part of the software development community for the past 20 years and co-organises the DDD Melbourne
      community conference, organises developer events with Microsoft, and also runs a part time car restoration business.
      He has spoken at numerous technical events around the world and is an expert in Australian Outback Internet.
    </p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
