Title: Events
---
<div data-event-date="2022-11-10" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">How Sharp Is Your Saw - David Adsit</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, November 10th, 2022</h5>

    <img src="assets/images/david-adsit.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of David Adsit">

    <p>
    We've all heard the story of the two wood cutters. The first works hard all day while the second takes an hour long lunch every day. Somehow the second woodcutter always cuts more wood than the first. When the first finally asks how his friend can take an hour break and still get more work done, the second is surprised and says, "I spend that hour sharpening my saw."
    </p>

    <p>
    We work in a field that is constantly changing. There is always a hot, new programming language or a new framework that "everyone" is using. Our dependencies are updating regularly and their features and interfaces are changing. If we stand still, we fall behind. We must be the second woodcutter and sharpen our saw regularly by investing in learning and practice.
    </p>

    <p>
    Tonight, we will talk about one (of many) ways we can pick up a new skill quickly, go deeper into a skill we use regularly, and easily contribute to a community of other learners. Exercism.org is building a place where anyone can learn and master programming for free, without ever feeling lost or stupid. That sounds nice. Especially when picking up a new skill. Expect to get setup with Exercism.org and work on one or more exercises. If you haven't set up a github.com account, doing so ahead of time will get you started more quickly.
    </p>

    <em>About the Speaker</em>

    <p>
    Dave has been developing software, systems, and teams for over 20 years. He has been a web developer, DB migrations specialist, tech lead, chief architect, and CTO at different points along the way. Currently, he is working as a Principal Software Engineer at SamCart where he is enabling self-service ecommerce platforms for digital products. Dave loves to talk about organizing and optimizing sociotechnical systems, the flow of value through a system, and craftsmanship practices. He and a few friends even have a podcast about it: <a href="https://crafting-code-podcast.github.io/">https://crafting-code-podcast.github.io/</a>. When not test-driving a Go package or submitting a PR to a React design system, he can be found adventuring in nature with his family.
    </p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
