Title: Events
---
<div data-event-date="2023-02-09" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Job Searches and Interview Prep &amp; Skills- Angie Farnsworth, Chelsi Arnold, &amp; Matt Nelson</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, February 9th, 2023</h5>

    <p>
        With the job market becoming tougher and numerous layoffs recently announced, we want to help give you the
        necessary skills, tips, and tricks to ensure that you can find and land a great job. In this session, we'll talk
        about resumes, job searches, interview preparation, and interview preparation. If you don't get an answer in one
        of these prepared areas, please ask in the open question and answer section. Whether you're actively looking for
        work or bank this knowledge for later doesn't matter: we hope you'll join us!
    </p>

    <em>About the Speakers</em>

    <div class="row">
        <img src="assets/images/Angie-Farnsworth.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of Angie Farnsworth">

        <p>
            Angie Farnsworth has worked in different careers such as a 9-1-1 dispatcher, customer service, and being an
            administrative assistant for very large departments. She never anticipated a career in recruiting until a few
            years ago when a friend told her she should think about becoming a recruiter because she has the ability to talk
            to everyone…it doesn’t matter who it is. Angie has been with STG for almost 2 years. She started out as a
            Sourcer for the recruiting team and was promoted to a Technical Recruiter about a year ago.
        </p>
        <p>
            She truly enjoys helping others communicate effectively and prepare for interviews. As a Recruiter, she is able
            to do this by giving others an unbiased, outside perspective on their interview skills to set them up for the
            best chance of success.
        </p>
        <p>
            She loves being a recruiter because it is very fast paced and it allows her to do the two things I love most,
            meeting new people and helping others.
        </p>
    </div>

    <div class="row">
        <img src="assets/images/Chelsi-Arnold.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of Chelsi Arnold">
        <p>
            Chelsi Arnold grew up in Southeast Idaho on an elk ranch and has been living in Salt Lake City for about 10
            years. She began working with TEKsystems in 2016 as a Customer Support Associate doing onboarding and
            payroll. She joined the recruiting team in May of last year.
        </p>
    </div>

	<div class="row">
        <img src="assets/images/Matt-Nelson.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of Matt Nelson">

        <p>
            Matt Nelson was born and raised here in Salt Lake. He is married and has four children and they live in
            Bountiful, Utah. His passions are playing the violin, tennis, and speaking Romanian. Matt has been in the Tech
            industry for 6 years and started his career at Software Technology Group as an Account Manager doing business
            development. He transitioned to the technical recruiter role a little over a year ago and has found a love for
            meeting new people and helping them find the best employment opportunities to grow their careers. If you are
            into pickleball, Matt would love to challenge you to a game.
        </p>
    </div>


    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>
  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
