Title: Events
---
<div data-event-date="2020-07-09" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Migrating Existing Applications to .NET Core - Thomas Camargo</h1>
    <h5 class="card-subtitle text-muted mb-2">July 9th, 2020</h5>

    <img alt="Picture of Thomas Camargo" src="assets/images/Thomas-Camargo-Migrating.png" class="img-fluid pb-3">

    <p>Thomas is a software engineer at Pluralsight and a second-time SLC.NET presenter. The first
    programming language he learned was C# while he attended Utah Valley University, and his career
    has been developing C# ever since he started his internship back in 2012. He has worked in all
    sorts of .NET codebases at various companies.</p>

    <p>After years working with .NET Framework, Thomas and his team at Pluralsight went on an 
    unexpected journey where they migrated existing projects to .NET Core. The team learned a lot 
    in the process and made a lot of mistakes along the way. Now, Thomas is sharing those learnings
    and showing how you can migrate your projects to .NET Core while hopefully avoiding some of the 
    stumbling blocks along the way.</p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
