Title: Events
---
<div data-event-date="2022-10-13" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Advanced Fiddler Techniques - Robert Boedigheimer</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, October 13th, 2022</h5>

    <img src="assets/images/robert-boedigheimer.webp" class="rounded float-left pr-3 pb-3" alt="Portrait of Robert Boedigheimer">

    <p>
        Fiddler is a great free web diagnostic tool that nearly everyone uses, but
        typically only for very basic things.  If all you need is to see the requests
        made between the browser and web server, the browser devtools can do that.
        Fiddler has many more advanced features that most developers are unaware of.
        It can be used to capture traffic from smartphones, tablets, and non-Windows
        platforms!  Discover the power of manipulating requests and responses with
        breakpoints, the auto responder, and a visual composer.  Review popular
        extensions for formatting JavaScript, syntax highlighting, and detecting image
        bloat.  Go beyond the basics and learn the full capabilities of the tool and
        how it can improve your web development and debugging techniques today!
    </p>

    <em>About the Speaker</em>

    <p>
        Robert Boedigheimer works for Schwan's Home Delivery providing business
        solutions with web technologies. He is a Microsoft MVP, a Progress Ninja
        (Fiddler), an ASPInsider, a Pluralsight author, and a 3rd degree black belt in
        Tae Kwon Do. Robert regularly speaks at national and international events.
    </p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
