Title: Events
---
<div data-event-date="2021-03-11" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Modernizing an Existing System to Take a More Domain-Driven Approach - Bill Penberthy</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, March 11th, 2021</h5>

    <p>Distributed computing and the cloud go hand-in-hand. However, there are a lot 
    of applications that are built in a more classic way that does not take into account 
    the cloud and what it offers. In this discussion we will talk about modernizing an 
    application or system. We’ll talk a bit about domain-driven design and several of 
    the more common design patterns used during a refactor. After the theory, we will 
    step into the realm of the practical and walk through the process of performing 
    changes on a large application.</p>
    
    <em>About the Speaker</em>

    <p>With over 25 years in software development (15+ of which is .NET), Dr. Bill 
    brings a pragmatic (curmudgeonly?) approach to software development. With much of 
    that time spent in consulting, he has worked on many different projects and used 
    many different designs and approaches. He recently switched to the dark side and 
    uses his development experience as a .NET developer advocate with AWS, helping AWS 
    to build a better and more rich .NET developer experience.</p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

<div data-event-date="2021-04-08" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Adding Realtime Features to Your Applications with SignalR - Javier Lozano</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, April 8th, 2021</h5>

    <p>Ever wondered how hard is to add real time eventing to your ASP.NET application? 
    SignalR is a new library that makes bi-directional communication easy and fun. In 
    this session we'll cover the features and approaches SignalR offers on both client 
    and server sides. If you're interested in adding real time eventing to your 
    applications today, you don't want to miss this talk.</p>
    
    <em>About the Speaker</em>

    
    <p>Javier is CEO and Founder of Lozanotek, Inc., a .NET focused software development 
    boutique based in Des Moines, IA. His specializations are in ASP.NET, Azure, system 
    design, and developer mentoring. Javier is also a Certified Scrum Master (CSM), 
    Certified Scrum Product Owner (CSPO), GitHub Certified Trainer, an ASP.NET Insider, 
    Azure Insider, and has been awarded the Microsoft MVP Award for over 15 years for 
    all of his contributions to products and community. For fun, Javier runs and manages 
    the popular .NET Conf virtual conference and the Iowa .NET User Group. He is an avid 
    supporter of the community and likes to give back by speaking at user groups, 
    local/regional/national .NET events. In his spare time, Javier loves spending time 
    with his family and enjoys writing about himself in the third person.</p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

<div data-event-date="2021-05-13" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">AWS Cloud for .NET Developers - Amit Jha</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, May 13th, 2021</h5>

    <p>This session is targeted for .Net developers/architects/development leads/IT Mgrs who are exploring/building 
    .NET applications on AWS.</p>
    <p>
    In this demo heavy session come to learn about:
    <ul>
      <li>.NET on AWS tools overview</li>
      <li>.NET integration story for several AWS Services (Lambda, EC2, Containers etc.).</li>
      <li>Understand typical .NET App migration & modernization journey on AWS and also
      learn about DevSecOps tools/services for .NET workloads.</li>
      <li>Lastly learn about how other customers are innovating further by leveraging AWS Services in their .NET 
      Applications.</li>
    </ul>
    </p>
    
    <em>About the Speaker</em>

    
    <p>Amit works as Developer Advocate with Amazon Web Services (AWS) and has 20+ years of Industry experience. 
    In his current role, Amit focuses on architecting on AWS, optimizing AWS environments and helping customers & 
    partners with cloud adoption with special focus on Microsoft/.NET workloads. Prior to his current role, he served 
    numerous roles at Microsoft for 11+ years helping large enterprise (Several Industry Verticals) with Cloud/Software 
    architecture and development consulting.</p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

<div data-event-date="2021-06-10" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Best Practices for Sustainable Repos and Pipelines - Andrew Arnott</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, June 10th, 2021</h5>

    <p>Starting a new repo or pipeline can be easy, but designing it for reliable and repeatable builds in the face 
    of network dependencies and SDK version updates across machines and time can be a worthy and challenging endeavor. 
    Come learn how to get started right so your repo and pipeline is stable, approachable and grows with you. We'll 
    focus on git, Azure Pipelines, and GitHub Actions. Touching lightly on AppVeyor/travis.ci. Pipeline focus is more 
    on CI than on CD.</p>
    
    <em>About the Speaker</em>

    
    <p>Principal Software Engineer at Microsoft, mostly working on or around the Visual Studio product. Expertise 
    includes threading, async, RPC, interop, cryptography, repo and pipeline maintenance for several teams. Other 
    interests include cryptocurrency, camping, and hanging out with my wife and four kids.</p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
