Title: Events
---
<div data-event-date="2021-11-11" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Micro API Design with Consume 1st - Llewellyn Falco</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, November 11th, 2021</h5>

   <img src="assets/images/LlewellynFalco.jpg" class="rounded float-left pr-3 pb-3" alt="Portrait of Kaleb Pederson">

    <p>
      Let’s get back to basics.
    </p>

    <p>
      One of the microskills often used in TDD is Consume First Architecture, which simply means using the fields and
      methods before they exist. Sounds easy? Well yes and no. Even simple lines of code can have HUGE implications on your
      architecture. The real skill in consume first is to be able to see, question and respond to those implications on sight.
    </p>

    <p>
      Tonight, we are going to geek out over a single line of code. We will take it and turn it into 40-50 variations 
      and explore how each variable impacts the resulting design.
    </p>
    
    <em>About the Speaker</em>

    <p>
      Llewellyn Falco is an independent agile coach. He discovered strong-style pair programming. He is the creator
      of the open-source testing tool ApprovalTests (<a href="https://approvaltests.com/">www.approvaltests.com</a>). 
      He spends most of his time programming in Java and C# specializing in improving legacy code. He is the co-founder 
      of <a href="https://TeachingKidsProgramming.org/">TeachingKidsProgramming.org</a> & co-author of Mob Programming 
      Guidebook.
    </p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

<div data-event-date="2022-01-13" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">C# 9 and 10 features - Jonathan Turner</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, January 13th, 2022</h5>

    <p>
      C# has changed a lot over the last nearly 20 years, and C# 9 and 10 are no exception. The rapid rate 
      of change can make it hard to keep up with all the latest language features. If you haven’t been able 
      to use the latest versions of C#, or maybe if you’ve been away from C# for a few years, this is a chance 
      to catch up. We’ll be going over the big ticket items from C# 9 and 10 like records, top-level statements, 
      and global using directives as well as a variety of smaller features.
    </p>

    <em>About the Speaker</em>

    <p>
      Jon looks forward to a world where everyone involved in software development cares about the quality 
      of their software and the value it provides. He is an advocate of test driven development, pair and mob 
      programming, continuously integrating code changes, and continuously delivering value to customers. 
      He has nearly 20 years of experience as a software developer. When he’s not developing software 
      professionally, Jon spends time doing game and mobile development, working on a variety of robotics 
      projects (while trying not to bring about the robot apocalypse), folding origami for friends and strangers, 
      or spending time with his wife and three children. 
    </p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

<div data-event-date="2022-02-10" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Exploiting web security vulnerabilities - Steve Taggart</h1>
    <h5 class="card-subtitle text-muted mb-2">Thursday, February 10th, 2022</h5>

    <p>
      Learn how to exploit OWASP web security vulnerabilities by hacking the modern and very insecure OWASP Juice Shop 
      web app. Attendees can follow along and do their own hacking in their browser by creating a free account 
      at <a href="https://tryhackme.com/">https://tryhackme.com</a>.
    </p>

    <em>About the Speaker</em>

    <p>
      Steve is a software developer who is interested in software as a craft and is passionate about delivering 
      high-quality software that solves customer problems. He loves learning about technology and sharing what he 
      learns with others. Outside of his day job as a Software Engineer at WTW (formerly known as Willis Towers Watson) 
      he enjoys strategy games, playing musical instruments, and spending time with his spouse and two children. 
    </p>

    <h2>Venue</h2>

    <p>This event is being <a href="https://us02web.zoom.us/j/88404796598">hosted online</a>.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
