Title: Events
---
<div data-event-date="2020-06-11" class="card mt-3 bt-3">
  <div class="card-body">
    <h1 class="card-title mb-1">Polishing Your Unit Testing Code - Kevin Bost, Microsoft MVP</h1>
    <h5 class="card-subtitle text-muted mb-2">June 11, 2020</h5>

    <p>
      Effectively testing your code can be difficult. It can be even harder to
      do it well and ensure you are making the most effective use of precious
      development time. It can be enough to make us loose our marbles. In this
      presentation we will cover getting started writing tests, up through
      advanced techniques using test doubles and simulators. Along the way, we
      will look at some real-world examples where these techniques are being
      actively used.
    </p>

    <h2>About the Presenter</h2>

    <p>
      Kevin Bost is a Microsoft MVP and a Senior Software Architect at
      IntelliTect. He is a Successful Microsoft MVP capable of designing
      elegant solutions to complex problems. This senior software architect has
      been instrumental in the building of several innovative products,
      including System.CommandLine, Moq.AutoMocker, and ShowMeTheXAML. Skilled
      at building professional applications and passionate about unit testing
      and code reviews.  Consistently delivers high-quality results. 
    </p>

    <p>
      Also, regularly hosts live coding sessions on <a
      href="http://twitch.kitokeboo.com/">Twitch</a> and maintains <a
      href="http://materialdesigninxaml.net/">MaterialDesignInXAML</a>, a fully
      open-source toolkit to assist the user in crafting desktop applications
      that allow Windows applications to leverage Google’s Material Design.
    </p>

    <h2>Venue</h2>

    <p>This event is being hosted online.</p>

  </div>
</div>

@section Scripts {
<script>
  // filter out events that have already passed
  $('*[data-event-date]').each(function(ix) {
    var date_str = $(this).attr('data-event-date');
    var event_date = new Date(date_str);
    // remove the event a couple of days after
    var day_after_event = new Date(event_date.valueOf() + 86400000*2);
    var now = new Date();
    now.setHours(0,0,0,0);
    if (day_after_event <= now) {
      $(this).hide();
    }
  });
</script>
}
