Title: Home
---
<div class="container-fluid">
  <div class="jumbotron mt-3">
    <h1 class="display-4">SLC.NET CON</h1>
    <p class="lead">SLC.NET is hosting its first ever conference: SLC.NET Con!</p>
    <hr class="my-4">
    <p>Please join us for an evening of .NET fun in this multi-track conference.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign me up!</a>
      <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

  <div class="row">
    <div class="card col-sm">
      <div class="card-img-top" style="height: 150px">
        <img src="assets/images/meetup-logo.svg" alt="Meetup.com logo" height="150px">
      </div>
      <div class="card-body">
        <h5 class="card-title">SLC.NET on Meetup</h5>
        <p class="card-text">Always want to know about our meetups? Connect with us on Meetup.org to join the fun.</p>
        <a href="https://www.meetup.com/The-SLC-NET-User-Group/" class="btn btn-primary">Go to Meetup.org</a>
      </div>
    </div>
    <div class="card col-sm">
      <div class="card-img-top" style="height: 150px">
        <img src="assets/images/healthequity-logo.png" alt="HealthEquity logo" width="100%">
      </div>
      <div class="card-body">
        <h5 class="card-title">Become a Sponsor</h5>
        <p class="card-text">Want to become a sponsor or know more about the benefits of becoming a sponsor?</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card col-sm">
      <div class="card-img-top bg-secondary" style="height: 150px">
      </div>
      <div class="card-body">
        <h5 class="card-title">SLC.NET on Meetup</h5>
        <p class="card-text">Always want to know about our meetups? Connect with us on Meetup.org to join the fun.</p>
        <a href="https://www.meetup.com/The-SLC-NET-User-Group/" class="btn btn-primary">Go to Meetup.org</a>
      </div>
    </div>
  </div>
</div>
