Title: Home
---
<div class="container-fluid">
  <div class="jumbotron mt-3" style="background-image: url('/assets/images/slcnetConJumbo.jpg'); background-size: cover;">
    <h1 class="display-4">SLC.NET CON</h1>
    <p class="lead">SLC.NET is hosting its first ever conference: SLC.NET Con!</p>
    <hr class="my-4">
    <p>Please join us for an evening of .NET fun in this multi-track conference.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign me up!</a>
      <a class="btn btn-secondary btn-lg" href="https://forms.gle/Psg2gYtHCx6NjAzK9" target="_blank" role="button">Submit A Proposal</a>
    </p>
  </div>

  <div class="row">
    <div class="card col-sm">
      <div class="card-img-top" style="height: 150px">
        <img src="assets/images/meetup-logo.svg" alt="Meetup.com logo" height="150px">
      </div>
      <div class="card-body">
        <h5 class="card-title">SLC.NET on Meetup</h5>
        <p class="card-text">Always want to know about our meetups? Connect with us on Meetup.org to join the fun.</p>
        <a href="https://www.meetup.com/The-SLC-NET-User-Group/" class="btn btn-primary">Go to Meetup.org</a>
      </div>
    </div>
    <div class="card col-sm">
      <div class="card-img-top" style="height: 150px">
        <img src="assets/images/healthequity-logo.png" alt="HealthEquity logo" width="100%">
      </div>
      <div class="card-body">
        <h5 class="card-title">Become An SLC.NET Con Sponsor</h5>
        <p class="card-text">Want to become a sponsor or know more about the benefits of becoming a sponsor?</p>
        <a href="sponsors.html" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card col-sm">
      <div class="card-img-top" style="height: 150px">
        <div class="h-100 justify-content-center align-items-center">
          <img src="assets/images/slack-logo.png" alt="Slack logo" height="150px">
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Join the Conversation</h5>
        <p class="card-text">Come join us for great conversations on anything .NET related on the UtahDotNet Slack Group.</p>
        <a href="https://utahdotnet.slack.com/" class="btn btn-primary">Join the Conversation</a>
        <a href="http://utahdotnet.herokuapp.com/" class="btn btn-secondary">Become a Member</a>
      </div>
    </div>
  </div>
</div>
