Title: Home
---
<div class="container-fluid">
  
<div class="jumbotron text-center hoverable p-4">
  <div class="row">
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <div class="view overlay">
        <img src="assets/images/jumboImage.jpg" class="img-fluid" alt="">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> SLC.NET CON</h6>
      </a>
      <h4 class="h4 mb-4">We're hosting our first ever conference: SLC.NET Con!</h4>
      <p class="font-weight-normal">Please join SLC.NET on September 19th, 2019 for an evening of .NET fun in this multi-track conference.</p>
      <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">Sign me up!</a>
        <a class="btn btn-secondary btn-lg" href="https://forms.gle/Psg2gYtHCx6NjAzK9" target="_blank" role="button">Submit A Proposal</a>
      </p>
    </div>
  </div>
</div>

  <div class="row">
    <div class="card col-sm">
      <div class="card-img-top" style="height: 150px">
        <img src="assets/images/meetup-logo.svg" alt="Meetup.com logo" width="100%" height="150px">
      </div>
      <div class="card-body">
        <h5 class="card-title">SLC.NET on Meetup</h5>
        <p class="card-text">Always want to know about our meetups? Connect with us on Meetup.org to join the fun.</p>
        <a href="https://www.meetup.com/The-SLC-NET-User-Group/" class="btn btn-primary">Go to Meetup.org</a>
      </div>
    </div>
    <div class="card col-sm">
      <div class="card-img-top" style="height: 150px">
        <img src="assets/images/dealertrack.png" alt="DealerTrack logo">
        <img src="assets/images/healthequity-logo.png" alt="HealthEquity logo">
        <img src="assets/images/teksystems.png" alt="Tek logo">
      </div>
      <div class="card-body">
        <h5 class="card-title">Become an SLC.NET Sponsor</h5>
        <p class="card-text">Want to become a sponsor or know more about the benefits of becoming a sponsor?</p>
        <a href="sponsors.html" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card col-sm">
      <div class="card-img-top" style="height: 150px">
        <div class="h-100 justify-content-center align-items-center">
          <img src="assets/images/slack-logo.png" alt="Slack logo" height="150px">
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Join the Conversation</h5>
        <p class="card-text">Come join us for great conversations on anything .NET related on the UtahDotNet Slack Group.</p>
        <a href="https://utahdotnet.slack.com/" class="btn btn-primary">Join the Conversation</a>
        <a href="http://utahdotnet.herokuapp.com/" class="btn btn-secondary">Become a Member</a>
      </div>
    </div>
  </div>
</div>
