Title: Home
Filename: index.html
---
<div class="jumbotron text-center hoverable p-4">
  <div class="row">
      <a href="events.html" class="dark-text">
        <img src="assets/images/slcnetconHomeBanner2019.jpg" class="img-fluid" alt="We're hosting our first ever conference: SLC.NET CON 2019!">
      </a>
    
  </div>
  

  <div class="row">
    <div class="col-md-5 text-md-left ml-3 mt-3">
      <a href="events.html" class="dark-text">
        <h1 class="dark-text pb-1"> SLC.NET CON 2019</h1>
      </a>
      <h4 class="mb-4">We're hosting our first ever conference: SLC.NET Con!</h4>
      <p class="font-weight-normal">Please join SLC.NET on <b>September 19th, 2019 from 5:30-9:30PM</b> for an evening of .NET fun in this multi-track conference.</p>
      
    </div>

    <div class="col-md-6 text-md-left text-sm-left text-left mx-3 my-3">
      <p class="font-weight-bold">Benefits of Attending</p>
      <ul>
        <li>Learn from local .NET practitioners and national experts.</li>
        <li>Identify best practices from those working on in-production projects.</li>
        <li>Uncover emerging trends and tools in the .NET world.</li>
        <li>Acquire implementable ideas for your projects.</li>
      </ul>
      <p class="lead">
        <a class="btn btn-success btn-lg" href="https://www.meetup.com/The-SLC-NET-User-Group/events/261270959/" target="_blank" role="button">Sign me up!</a>
      </p>
    </div>
  </div>

  <br/>
</div>

<div class="row">
  <div class="card col-sm">
    <div class="card-img-top" style="height: 150px">
      <img src="assets/images/meetup-logo.jpg" alt="Meetup.com logo"  class="img-fluid">
    </div>
    <div class="card-body">
      <h5 class="card-title">SLC.NET on Meetup</h5>
      <p class="card-text">Interested in notification about our Meetup events? Connect with us on Meetup.org to join the fun.</p>
      <a href="https://www.meetup.com/The-SLC-NET-User-Group/" target="_blank" class="btn btn-primary">Go to Meetup.org</a>
    </div>
  </div>
  <div class="card col-sm">
    <div class="card-img-top" style="height: 150px">
      <img src="assets/images/partners.jpg" class="img-fluid" alt="Partner Logos">
    </div>
    <div class="card-body">
      <h5 class="card-title">Become an SLC.NET Sponsor</h5>
      <p class="card-text">Want to become a sponsor or know more about the benefits of becoming a sponsor?</p>
      <a href="sponsorship.html" class="btn btn-primary">Learn more</a>
    </div>
  </div>
  <div class="card col-sm">
    <div class="card-img-top" style="height: 150px">
      <div class="h-100 justify-content-center align-items-center">
        <img src="assets/images/slack-logo.png" class="img-fluid" alt="Slack logo">
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Join the Conversation</h5>
      <p class="card-text">Come join us for great conversations on anything .NET related on the UtahDotNet Slack Group.</p>
      <a href="https://utahdotnet.slack.com/" target="_blank" class="btn btn-primary">Join the Conversation</a>
      <a href="http://utahdotnet.herokuapp.com/" target="_blank" class="btn btn-secondary">Become a Member</a>
    </div>
  </div>
</div>
