Title: Sponsorship
---
<h1>Become a Sponsor!</h1>
<p>SLC.NET is always looking for sponsors. Whether you're interested
in providing a one-time sponsorship or donating on a recurring basis, we will
gladly work with you.</p>

<h2>Start Sponsoring</h2>
<p>To get started sponsoring us please reach out via <a data-email-ug href="mailto:slc.netug@gmail.com">email</a>!

<h2>Why you should partner with us</h2>
<ul>
  <li><em>Mission</em> - We aim to bring the .NET community together every month to 
  advance our knowledge and share our passion for these technologies.</li>
  <li>Join us and our community of over 1,500 software professionals.</li>
</ul>

<h2>Perks</h2>
<ul>
  <li>Sponsor recognition at event(s) - including signage, program mention, appropriate
  marketing materials, and swag bag opportunities where applicable.</li>
  <li>Logo on website, meetup, and event information.</li>
</ul>

<h2>Sponsorship Levels</h2>
<ul>
  <li>(Please note: all contributions must be goods and/or services provided strictly for the benefit of SLC.NET members)</li>
</ul>
<h3>Bronze - $100</h3>
<ul>
  <li>Company included on "Partner's Page" on our website for 6 months.</li>
</ul>

<h3>Silver - $500</h3>
<ul>
  <li>Company name, logo, and sponsorship level included in all event programming
  and promotional materials (including flyers, pamphlets, t-shirts, and merchandise).</li>
  <li>Company included on "Partner's Page" on our website for 1 year.</li>
</ul>

<h3>Gold - $1000</h3>
<ul>
  <li>Company name, logo, and sponsorship level included in all event programming
  and promotional materials (including flyers, pamphlets, t-shirts, and merchandise).</li>
  <li>Company included on "Partner's Page" on our website for 2 years.</li>
  <li>Live shout out / acknowledgement during the event.
</ul>

@section Scripts {
<script async src="scripts/email.js"></script>
}
