Title: Sponsors
---
<div class="container-fluid">
  <h1>Become a Sponsor!</h1>
  <p>The SLC.NET User group is always looking for sponsors. Whether you're interested
  in providing a one-time sponsorship or donating on a recurring basis, we will
  gladly work with you.</p>

  <h2>Why you should partner with us</h2>
  <ul>
    <li><em>Mission</em> - We aim to bring the .NET community together every month to 
    advance our knowledge and share our passion for these technologies.</li>
    <li>Join us and our community of over 1,100 men and women</li>
  </ul>

  <h2>Perks</h2>
  <ul>
    <li>Sponsor recognition at event(s) - including signage, program mention, appropriate
    marketing materials, and swag bag opportunities where applicable.</li>
    <li>Logo on website, meetup and event information</li>
  </ul>

  <h2>Sponsorship Levels</h2>
  <h3>Bronze - $100</h3>
  <ul>
    <li>Company included on "Partner's Page" on our website for 6 months.</li>
  </ul>

  <h3>Bronze - $100</h3>
  <ul>
    <li>Company name, logo, and sponsorship level included in all event programming
    and promotional materials (including flyers, pamphlets, t-shirts, and merchandise).</li>
    <li>Company included on "Partner's Page" on our website for 1 year.</li>
  </ul>

  <h3>Bronze - $100</h3>
  <ul>
    <li>Company name, logo, and sponsorship level included in all event programming
    and promotional materials (including flyers, pamphlets, t-shirts, and merchandise).</li>
    <li>Company included on "Partner's Page" on our website for 2 years.</li>
    <li>Live shout out / acknowledgement during the event.
  </ul>
</div>
