Title: Venues
---
<div>
  <h1>Venues</h1>
  <div class="pb-3">
    <a name="healthequity">
    <h2>HealthEquity</h2>
    <h3 class="text-secondary">From the south</h3>
    <p>Directions to HealthEquity via Utah County: Take I-15 North to Exit 288 for 14600 S. 
    Make a right turn at the exit to head east on 14600 S. Turn right onto Corporate Way
    to drive toward the main HealthEquity building. Event will be in the 38 East 
    HealthEquity building (left of the main building).</p>

    <h3 class="text-secondary">From the north</h3>
    <p>Directions to HealthEquity via Salt Lake County: Take I-15 South to Exit 288 for 14600 S. 
    Make a left turn at the exit to head east on 14600 S. Turn right onto Corporate Way
    to drive toward the main HealthEquity building. Event will be in the 38 East 
    HealthEquity building (left of the main building).</p>

    <img src="assets/images/hqy-map.png" alt="Map to HealthEquity">
  </div>
  <div class="pb-3">
    <a name="dealertrack">
    <h2>DealerTrack</h2>
    <h3 class="text-secondary">From the south</h3>
    <p>Directions to DealerTrack via Utah County: Take I-15 to UT-154 (Bangerter) via Exit 289.
    Take a left onto UT-154 (Bangerter) heading west on Bangerter. Continue to exit 1 for 600 W. 
    Turn left onto UT-154 heading east. Turn right onto S 200 W. After 500 feet turn left into
    the entryway to the DealerTrack building.</p>

    <h3 class="text-secondary">From the north</h3>
    <p>Directions to DealerTrack via Utah County: Take I-15 to UT-154 (Bangerter) via Exit 289.
    Take a right onto UT-154 (Bangerter) heading west on Bangerter. Continue to exit 1 for 600 W. 
    Turn left onto UT-154 heading east. Turn right onto S 200 W. After 500 feet turn left into
    the entryway to the DealerTrack building.</p>

    <img src="assets/images/dealertrack-map.png" alt="Map to DealerTrack">
  </div>
</div>
